.center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.searchField {
    margin-right: 10px;
}

.searchBar {
    margin: 20px;
}

.adminTable {
    margin: 100px;
}

.actionCell {
    padding: 5px;
}

.sortSelect {
    margin-right: 20px;
    margin-bottom: 5%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
}

.sortLabel {
    margin-right: 20px;
    font-weight: bold;
}

.sortLabel {
    margin-right: 20px;
    font-weight: bold;
}
