.center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.searchField {
    margin-right: 10px;
}

.searchBar {
    margin: 20px;
}

.adminTable {
    margin: 100px;
}

.actionCell {
    padding: 5px;
}
