body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
}

.category-card {
  background: #4865ff;
  transform: translateY(0);
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-20px);
}

.bg-theme {
  background: #4865ff;
}

.bg-theme-darker {
  background: #293a91;
}

.bg-theme-lighter {
  background: #566ee7;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.square-30 {
  width: 30px !important;
  height: 30px !important;
}

.my-dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  transition: all 0.3s;
  cursor: pointer;
}

.my-dropdown-item-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
  background: #4865ff;
}
.my-dropdown-item:hover {
  background: #4865ff;
  color: white;
}

.dropdown-item {
  padding: 0 !important;
}

.pagination-item-selected {
  background: #293a91;
  border-radius: 15px;
  height: 46px;
  line-height: 46px;
  color: white;
}

.pagination-item {
  height: 46px;
  color: white;
  line-height: 46px;
  background: #4865ff;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.pagination-item:hover {
  background: #3249b9;
}

.listing-image-holder {
  transition: 0.8s;
}

.listing-image-holder:hover {
  transform: scale(1.2);
}

.listings-filters {
  transition: all 0.3s;
}
