body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  font-family: Montserrat;
  font-weight: 500;
}

.category-card {
  background: #4865ff;
  transform: translateY(0);
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-20px);
}

.bg-theme {
  background: #4865ff;
}

.bg-theme-darker {
  background: #293a91;
}

.bg-theme-lighter {
  background: #566ee7;
}
