.main {
  font-weight: 500;
  font-size: 14px;
  font-family: montserrat;
}

.category-card {
  background: #4865ff;
  transform: translateY(0);
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-20px);
}

.bg-theme {
  background: #4865ff;
}

.bg-theme-darker {
  background: #293a91;
}

.bg-theme-lighter {
  background: #566ee7;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.square-30 {
  width: 30px !important;
  height: 30px !important;
}
.square-35 {
  width: 35px !important;
  height: 35px !important;
}

.my-dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  transition: all 0.3s;
  cursor: pointer;
}

.my-dropdown-item-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
  background: #4865ff;
}
.my-dropdown-item:hover {
  background: #4865ff;
  color: white;
}

.dropdown-item {
  padding: 0 !important;
}

.listing-image-holder {
  transition: 0.8s;
}

.listing-image-holder:hover {
  transform: scale(1.2);
}

.listings-filters {
  transition: all 0.3s;
}

.col-image::before {
  padding-top: 70%;
  display: block;
  content: "";
}

.text-theme {
  color: #4865ff;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.square-40 {
  width: 40px !important;
  height: 40px !important;
}
